.navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: -999px;
    background: #fff;
    transition: left 400ms;
}

.navigation::after {
    content: '';
    width: 1px;
    height: 100%;
    background-image: linear-gradient(0deg, transparent, var(--color-accent));
    position: absolute;
    right: 0;
}

.opened {
    left: 0;
}

.main {
    grid-area: main;
}

.link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--color-base);
}

.linkActive {
    background: var(--color-accent-opacity-50);
}

@media screen and (min-width: 801px) {
    .navigation {
        grid-area: sidenav;
        position: relative;
        top: 0;
        left: 0;
        transition: none;
    }
}
