:root {
    --color-base: #333;
    --color-accent: #26a69a;
    --color-accent-opacity-50: rgba(38, 166, 154, 0.5);
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: var(--color-base);
}

body {
    margin: 0;
}

a {
    color: var(--color-accent);
}

.app {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 801px) {
    .app {
        display: grid;
        grid-template:
            'header header'
            'sidenav main' 1fr
            / 210px 1fr;
        column-gap: 20px;
    }
}
